{% include('ppal.html.twig') %}
<div class="container">
	{% for message in app.session.flashBag.get('response') %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
{% endfor %}
   <div class="col-md-6">
	{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'role':'form'}})}}
	    <h3>Nueva Unidad de Medida</h3>
		<div class="form-group">
			{{	form_label(form.unidad)	}}
			{{	form_widget(form.unidad, {'attr':{'class' : 'form-control'}})}}
			<span class="text-danger">
				{{ form_errors(form.unidad) }}
			</span>
		</div>
		<p>
			{{ form_widget(form.save, {'attr':{'class' : 'btn btn-success'}})}}
		</p>

	{{ form_end(form)}} 
  </div>
</div>