{% include('ppal.html.twig') %}
<div class="container">
	{% for message in app.session.flashBag.get('response') %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
{% endfor %}
   <div class="col-md-6">
	{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'role':'form'}})}}
	    <h3>Modificar Articulo</h3>
		<div class="form-group">
			<h4><span class="label label-default"> Codigo: {{ articulo.articuloMarca.articulo.codigo|upper }} </span></h4>	
			<h4><span class="label label-default"> Descripcion: {{ articulo.articuloMarca.articulo.descripcion|title }} </span></h4>	
			<h4><span class="label label-default"> Marca: {{ articulo.articuloMarca.marca|title }} </span></h4>	
			<h4><span class="label label-default"> Deposito: {{ articulo.almacen|title }} </span></h4>				
		</div>
		<div class="form-group">
			{{	form_label(form.ubicacion)	}}
			{{	form_widget(form.ubicacion, {'attr':{'class' : 'form-control'}})}}
			<span class="text-danger">
				{{ form_errors(form.ubicacion) }}
			</span>
		</div>	
		<div class="form-group">
			{{	form_label(form.sReal, 'Stock Real')	}}
			{{	form_widget(form.sReal, {'attr':{'class' : 'form-control'}})}}
			<span class="text-danger">
				{{ form_errors(form.sReal) }}
			</span>
		</div>				
		<p>
			{{ form_widget(form.save, {'attr':{'class' : 'btn btn-success'}})}}
		</p>

	{{ form_end(form)}} 
  </div>
</div>