{% extends('ppal.html.twig') %}
{% block stylesheets %}
	{{ parent() }}
 	<link rel="stylesheet" href="{{ asset('bundles/mantalmacen/css/movimientos/addArticulosMovimiento.css')}}">
 	<link rel="stylesheet" href="{{ asset('bundles/mantalmacen/css/estilos.css')}}">
{% endblock %}

{% block body %}
	{{ parent() }}
<div class="container">
	
	<div class="card">
  <div class="card-header">
  	<div class='row'>
  		<div class="col-4">
  			Movimiento: {{ movimiento.getDescripcionFormulario | title }}
  		</div>
	    {% if movimiento.almacenOrigen is defined %}
	    	<div class="col-4">
	    		Origen:{{ movimiento.almacenOrigen }}
	    	</div>
	   	{% endif %}
	    {% if movimiento.almacenDestino is defined %}
	    	<div class="col-4">
	    		Destino:{{ movimiento.almacenDestino }}
	    	</div>
	   	{% endif %}	   	
  	</div>

  </div>
  <div class="card-body row">
    <span class="card-text col-4">Fecha: {{ movimiento.fecha | date("m/d/Y") }}</span>
	<span class="card-text col-4">Concepto: {% if movimiento.conceptoEntrada is defined %} {{ movimiento.conceptoEntrada | title }} {% endif %}</span>
  </div>
</div>
   <div class="card">
    <div class="card-body">
    	<h6>Articulos cargados al formulario</h6>
    	<table class="table table-striped table-hover table-bordered table-sm assign estilo1">
					<thead>
						<tr>
                            <th>Codigo</th>
                            <th>Descripcion</th>
                            <th>Marca</th>
                            <th>Cantidad</th>
                            <th>Unitario</th>           
                            <th>Total</th> 
                            <th>Quitar</th>
						</tr>
					</thead>
					<tbody>
				        {% for item in movimiento.items %}
                            <tr id="{{ item.id }}" class="trtable">
                                <td>{{ item.articulo.articuloMarca.articulo.codigo|upper }}</td>
                                <td>{{ item.articulo.articuloMarca.articulo.descripcion|title }}</td>
                                <td>{{ item.articulo.articuloMarca.marca|title }}</td>
                                <td>{{ item.cantidad|number_format(2, '.', '')  }}</td>                                
                                <td>{{ item.precioUnitario|number_format(2, '.', '')  }}</td>       
                                <td>{{ item.precioTotal|number_format(2, '.', '')  }}</td>
                                <td><input type='button' class='btn btn-warning btn-sm delit' value='X' onClick='removeItem("{{path('mant_almacen_remove_item_movimiento', {'item' : item.id})}}", {{item.id}})';/> </td>
                            </tr>
				        {% endfor %}						
					</tbody>
		</table>
    </div>
  </div> 
  	{% for message in app.session.flashBag.get('error') %}
	    <div class="alert alert-danger" role="alert">
	        {{ message }}
	    </div>
	{% endfor %}
  {{ 	form_start(form, {'attr': {'id': 'form_add', 'novalidate': 'novalidate', 'role':'form'}}) }}
  <div class="card">
    <div class="card-body">
		<div class="row">
			<div class="col-md-2 rowdata ">{{ form_widget(form.codigo, { 'attr': {'placeholder': 'Codigo', 'class' : 'form-control rowvalue form-control-sm' } }) }}</div>
			<div class="col-md-3 rowdata">{{ form_widget(form.descripcion, { 'attr': {'placeholder': 'Descripcion', 'class' : 'form-control rowvalue form-control-sm' } }) }}</div>
			<div class="col-md-2 rowdata">{{ form_widget(form.marca, { 'attr': {'placeholder': 'Marca', 'class' : 'form-control rowvalue form-control-sm' } }) }}</div>			
			<div class="col-md-1 rowdata">{{ form_widget(form.cantidad, { 'attr': {'value':'1', 'placeholder': 'Cant.', 'class' : 'form-control rowvaluecant rowvalue form-control-sm cant-item' } }) }}</div>
			<div class="col-md-2 rowdata">{{ form_widget(form.unitario, { 'attr': {'placeholder': 'Unitario', 'class' : 'form-control rowvalue unitprice form-control-sm' } }) }}</div>
			<div class="col-md-1 rowdata">{{ form_widget(form.save, {'attr':{'class' : 'btn btn-success btn-add btn-sm btn-add-article'}}) }}</div>
			{{ form_widget(form.articulo, {'attr':{'data-id' : '0'}}) }}
		</div>
    </div>
  </div>  
 {{ form_end(form) }}
 	<span class="pull-right">
		<div class="row">
			<div class="col-2">
				{{ 	form_start(formcancel, {'attr': {'class':'frmcancel'}}) }}
				{{ form_widget(formcancel.cancel, {'attr':{'class' : 'btn btn-danger btn-add btncancel'}}) }}		
				{{ form_end(formcancel) }}
			</div>
			<div class="col-2">
				{{ 	form_start(formpausa, {'attr': {'class':'frmpaused'}})  }}
				{{ form_widget(formpausa.pausa, {'attr':{'class' : 'btn btn-warning btn-add btnpausa'}}) }}	
				{{ form_end(formpausa) }}	
			</div>			
			<div class="col-2">
				{{ 	form_start(formcierre, {'attr': {'class':'frmsend'}})  }}
				{{ form_widget(formcierre.save, {'attr':{'class' : 'btn btn-primary btn-add btnsend'}}) }}	
				{{ form_end(formcierre) }}	
			</div>
		</div>
	</span>
				
<span class="counter pull-left"></span>
<div>
	 <input type="text" class="search form-control col-4" placeholder="Descripcion/Codigo Barras">
				<table class="table table-striped table-hover table-bordered results table-sm table-fixed estilo1">
					<thead>
						<tr>
                            <th>Codigo</th>
                            <th>Descripcion</th>
                            <th>Marca</th>    
                            <th>Codigo Barras</th>
                            <th>Stock Actual</th>
                            <th>Unitario</th>                            
						</tr>
    					<tr class="warning no-result">
      						<td colspan="7"><i class="fa fa-warning"></i> No se ecnontraron resultados</td>
    					</tr>						
					</thead>
					<tbody>
				        {% for articulo in articulos %}
                            <tr data-id="{{ articulo.id }}" class="trtable">
                                <td>{{ articulo.articuloMarca.articulo.codigo|upper }}</td>
                                <td>{{ articulo.articuloMarca.articulo.descripcion|title }}</td>
                                <td>{{ articulo.articuloMarca.marca|title }}</td>
                                <td>{{ articulo.articuloMarca.codigoBarras|title }}</td>                                
                                <td>{{ articulo.sReal  }}</td>
                                <td>{{ articulo.importe|number_format(2, '.', '')  }}</td>
                            </tr>
				        {% endfor %}
					</tbody>
				</table>
	</div>
</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/mantalmacen/js/movimientos/addArticulosMovimiento.js') }}"></script>
	
{% endblock %}