{% include('ppal.html.twig') %}
{% block stylesheets %}
 	<link rel="stylesheet" href="{{ asset('bundles/mantalmacen/css/estilos.css')}}">
{% endblock %}
<div class="container">
    <h4>Recepcionar Mercaderias</h4>
    	<div class="row">
			  {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'role':'form', 'class':'form-inline'}})}}
			  <div class="col-sm-8">
				{{	form_widget(form.almacenes, {'attr':{'class' : 'form-control'}})}}
			  </div>
			  <div class="col-sm-4">
				{{ form_widget(form.save, {'attr':{'class' : 'btn btn-success'}})}}
			  </div>
			{{ form_end(form)}}
		</div>
		<br>
		
		{% if movimientos is defined %}
				<table class="table table-striped table-bordered table-hover table-sm estilo1">
					<thead>
						<tr>
							<th scope="col">Nro Comprobante</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Descripcion</th>
							<th scope="col">Deposito Origen</th>
                            <th scope="col">Cantidad Articulos</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Fecha Carga</th>
                            <th></th>
						</tr>
					</thead>
					<tbody>
				        {% for movimiento in movimientos %}
                            <tr data-id="{{ movimiento.id }}">
                            	<td>{{ "%06d" | format(movimiento.numeroComprobante) }}</td>      
                                <td>{{ movimiento.fecha|date("d/m/Y") }}</td>
                                <td>{{ movimiento.descripcionFormulario|title }}</td>
                                <td>{% if movimiento.almacenOrigen is defined %} {{ movimiento.almacenOrigen}} {% endif %}</td>
                                <td align="right">{{ movimiento.items.count }}</td>
                                <td class="actions">
                                	{{ movimiento.userAlta|title }}
				                </td>
				                <td>
				                	{{ movimiento.createdAt|date("d/m/Y - H:i") }}
				                </td>
				                <td>	
				                	<div>
				                		{{ 	form_start(forms[movimiento.id], {'attr': {'novalidate': 'novalidate', 'role':'form', 'class':'form-inline'}})  }}
										{{  form_widget(forms[movimiento.id].save, {'attr': {'class': 'btn btn-warning btn-sm estilo1'}}) }}
										{{  form_end(forms[movimiento.id]) }}
									</div>
								</td>
                            </tr>
				        {% endfor %}
					</tbody>
				</table>

		{% endif %}
{% block javascripts %}

	<script src="{{ asset('bundles/mantalmacen/js/movimientos/aprobarIngreso.js') }}"></script>

{% endblock %}
</div>