{% include('ppal.html.twig') %}
{% block stylesheets %}
 	<link rel="stylesheet" href="{{ asset('bundles/mantalmacen/css/movimientos/addArticulosMovimiento.css')}}">
 	<link rel="stylesheet" href="{{ asset('bundles/mantalmacen/css/estilos.css')}}"> 	
{% endblock %}
<div class="container">
	
	<div class="card">
  <div class="card-header">
          {{ movimiento.getDescripcionFormulario | title }}
  </div>
  <div class="card-body row">
    <span class="card-text col-4">

    </span>
    <span class="card-text col-4">Fecha: {{ movimiento.fecha | date("m/d/Y") }}</span>
	<span class="card-text col-4">Concepto: {% if movimiento.conceptoEntrada is defined %} {{ movimiento.conceptoEntrada | title }} {% endif %}</span>
  </div>
</div>
   <div class="card">
    <div class="card-body">
    	<h6>Articulos cargados al formulario</h6>
    	<table class="table table-striped table-hover table-bordered table-sm assign estilo1">
					<thead>
						<tr>
                            <th>Codigo</th>
                            <th>Descripcion</th>
                            <th>Marca</th>
                            <th>Cantidad</th>
                            <th>Unitario</th>           
                            <th>Total</th> 
                            <th>Cant. a Ingresar</th>
						</tr>
					</thead>
					<tbody>
				        {% for item in movimiento.items %}
                            <tr data-id="{{ item.id }}" class="trtable">
                                <td>{{ item.articulo.articuloMarca.articulo.codigo|upper }}</td>
                                <td>{{ item.articulo.articuloMarca.articulo.descripcion|title }}</td>
                                <td>{{ item.articulo.articuloMarca.marca|title }}</td>
                                <td>{{ item.cantidad  }}</td>
                                <td>{{ item.precioUnitario|number_format(2, '.', '')  }}</td>
                                <td>{{ item.precioTotal|number_format(2, '.', '')  }}</td>        
                                <td>
                                    {{ form_start(forms[item.id], {'attr': {'novalidate': 'novalidate', 'role':'form', 'class':'form-inline auting'}}) }}
                                    {{ form_widget(forms[item.id].cant , {'attr':{'class' : 'form-control form-control-sm estilo1'}}) }}
                                    {{  form_widget(forms[item.id].save, {'attr': {'class': 'btn btn-warning btn-sm estilo1'}}) }}
                                    {{  form_end(forms[item.id]) }}
                                </td>
				        {% endfor %}						
					</tbody>
		</table>
		<small id="emailHelp" class="form-text text-muted text-right">Si la cantidad recepcionada difiere, modifique el campo 'Cant. a Ingresar' y presione el boton cambiar.</small>
		<div class='row'> 
		    <div class='col-2'>
                {{ form_start(aceptar, {'attr': {'novalidate': 'novalidate', 'role':'form', 'class':'form-inline formyes'}}) }}
                {{  form_widget(aceptar.save, {'attr': {'class': 'btn btn-info btnsend', 'data-type':'ok' }}) }}
                {{  form_end(aceptar) }}
		    </div>
		    <div class='col-2'>
                {{ form_start(cancelar, {'attr': {'novalidate': 'novalidate', 'role':'form', 'class':'form-inline formno'}}) }}
                {{  form_widget(cancelar.save, {'attr': {'class': 'btn btn-danger btnsend', 'data-type':'no' }}) }}
                {{  form_end(cancelar) }}		        
		        
		    </div>
		</div>
		
    </div>
  </div> 
		
</div>
{% block javascripts %}
	<script src="{{ asset('bundles/mantalmacen/js/movimientos/aprobarIngreso.js') }}"></script>
{% endblock %}